body {
    background-image: url(../images/background3.jpg);
}

p {
    text-align: center;
    color: #093a0f;
    font-family: 'Volkhov', serif;
    font-size: 18px;
    padding: 0px;
    font-weight: bold;
    
}

#winText {
    font-size: 20px;
}


.title {
    padding: 10px;
    color: #093a0f;
    font-family: 'Volkhov', serif;
    text-align: center;
    font-style: italic;
}

.content {
    border: 5px double #ffffff;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 100px;
}

#winImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


